.App {
  text-align: center;
}

.todo-app {
  background-color: #efefef;
  padding: 1.2em;

  .new-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 80% !important;
    }
  }
}

.list-group-item {
  cursor: pointer;

  &.active {
    background-color: #007bff;
    color: white;
  }

  &:hover {
    background-color: #d3d3d3;
  }

  &.active:hover {
    background-color: #0056b3;
  }
}
